body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial;
}

h1 {
    margin-top: 30px;
}

input, button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
}

button {
    cursor: pointer;
    background: #008cff;
    color: white;
    border: none;
    font-size: 16px;
}